[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = git@github.com:itsknob/nvim-config.git
[submodule "env/nvim/env/nvim/.config"]
	path = env/nvim/env/nvim/.config
	url = git@github.com:itsknob/nvim-config.git
